table{
    width: 800px;
    border: 5px solid gray
}
th, td{
    border: 1px solid gray
}
.text{
    background-color: red;
}
.town{
    background-color: yellow;
}
.tall{
    background-color: green;
}
.pink{
    background-color: purple;
}
